p{
                font-family: 'Times New Roman', Times, serif;
                font-size: 21px;
                font-weight: 400;
                background-color: tan;
                color: black;
                padding: 20px;
                margin: 20px;
                
}